.App {
  text-align: center;
  color: white;
}

h1,  h2, h3, p, span {
  color: white;
}

.primary-color {
  color: rgb(234, 76, 255);
}

.secondary-color {
  color: white;
}

a {
  text-decoration: none;
}

.Navbar {
  background-color: transparent !important;
}

.Nav {
  margin-left: auto;
  margin-right: auto;
}

.Nav-title {
  font-size: 24px;
  color: white;
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
  mask-image: linear-gradient(#000, rgba(0,0,0,0.2));
}

.Nav-title:hover {
  color: rgb(234, 76, 255);
}

.Logo {
  width: 100%;
  height: 80px;
}

.Profile {
  width: 100%;
}

.Profile-img {
  width: auto;
}

.Profile-avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: "white";
  margin-right: 50px;
}

.Section {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #000;
}

.Icon-container {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 14px;
}

ul.Vertical-bullet {
  list-style-type: none;
  position: relative;
  padding-top: 10px;
}

ul.Vertical-bullet:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

li.Bullet {
  margin: 80px 120px;
  padding-left: 20px;
}

li.Bullet:before{
  content: " ";
  background: #286F6C;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #286F6C;
  left: 15px;
  width: 30px;
  height: 30px;
  z-index: 400;
  margin-top: 8px;
}

.Title {
  text-align: center;
  font-size: 48px;
}

.Subtitle {
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
}

.Card-scroll {
  overflow-x: scroll;
  margin-top: 50px; 
  display: inline-flex;
  width: 100%;
}

.Card-container {
  margin-top: 100px; 
  margin-bottom: 100px;
  width: 100%;
  transition: transform .2s;
}

.Card-active {
  transform: scale(1.5);
}

.Card-container:last-child {
  margin-right: 400px;
}

.Card-container:first-child {
  margin-left: 400px;
}

.Card-img-profile {
  position: static;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

.Card {
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  min-width: 500px;
}



.Card-button-container {
  text-align: center;
  display: inline-flex;
  column-gap: 20px;  /* Set a gap of 20px */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Card-button {
  text-align: center;
  border-radius: 50%;
}

.Parallax-default {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-container {
  position: relative;
  width: 100%;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.parallax-bg:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, black);
  opacity: 2.5; 
  height:100%;
  width:100%;
}

.content {
  position: relative;
  text-align: center;
  color: black;
  z-index: 2;
}

/* Adjust the styling for mobile devices */
@media only screen and (max-width: 768px) {
  .parallax-bg {
    background-attachment: scroll;
  }
}

.vertical-center {
  display: grid;
  place-items: center
}

.link-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-flex;
  justify-content: space-between;
  min-width: 130px; 
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.fade-in-text {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Coin {
  background: rgb(19, 19, 19);
  padding-top: 15px;
  padding-left: 15px;
  width: 110px;
  height: 110px;
  display: block;
  justify-content: center;
  border-radius: 50%;
}

.flip-animation {
  animation: flip 2s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  50% {
    transform: perspective(800px) rotateY(180deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

.Card {
  width: 40%;
  display: table-cell;
  background: rgb(27, 27, 27);
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.highlighted {
  animation: highlighted-bar 2s linear infinite;
}
@keyframes highlighted-bar {
  0%   { box-shadow: none; }
  50%  { box-shadow: 0 0 1px 0 black, 0 0 20px 5px darkgrey; }
  100% { box-shadow: none; }
}